extends layout

block content
    div.container
        h1= 'Building app "'+app.doc.name+'"'
            span.label.label-primary(style='float:right;')=title=app.pathName
        h3 Steps
        pre
            ul
                for step in steps
                    li!= step

        .form-group
            .input-group
                span.input-group-btn(title='Run on server')
                    button.btn.btn-default.app-run-app(autocomplete='off', data-opening-text="Running...", data-path-name=app.pathName) 
                        span.glyphicon.glyphicon-play-circle
                input.form-control.on-focus-select(readonly, value=runPath)
        h4 Forms
        pre
            ul
                each rows in app.forms
                    li
                        | Name: 
                        = rows.name
                        span.label.label-success(style='margin-left: 10px;')=title=rows.pathName
                        .table-responsive(style="max-height: 150px; overflow:auto;")
                            table.table.table-condensed.table-striped
                                thead
                                    tr
                                        th Name
                                        th Technical name
                                        th Type
                                        th Valid
                                tbody
                                    each row in rows.data
                                        tr
                                            td(title='Name')= row.Name
                                            td(title='Technical name')= row.dbname
                                            td(title='Type')= row.Type
                                            td(title='Valid')= row.Valid
        h4 Form data types
        pre
            ul
                each valid in app.valids
                    li=valid.type
                        if valid.isJs && valid.isLs
                            div.alert.alert-warning(role="alert")
                                span.glyphicon.glyphicon-eye-open.btn-space
                                | There is a .js and a .ls file with the same name.
                                br
                                strong| This is a bad idea!
                                br
                                em| JavaScript is the default.
                        else if !valid.isJs && !valid.isLs
                            div.alert.alert-danger(role="alert")
                                span.glyphicon.glyphicon-remove-circle.btn-space
                                strong| The app will not work!
                                br
                                | There is neither a .js nor a .ls file with the defined validation type.
                        else if valid.isLs
                            |  - LiveScript file - 
                            em.text-success| OK
                        else
                            |  - JavaScript file - 
                            em.text-success| OK
        h4 Menus
        pre
            ul
                each rows in app.menus
                    li
                        | Name: 
                        = rows.name
                        span.label.label-success(style='margin-left: 10px;')=title=rows.pathName
                        ul
                            each row in rows.data
                                li
                                    | Action: 
                                    = row.Action
                                    | | Item Name: 
                                    = row['Item Name']
    script.
        $("input.on-focus-select").focus(function() {
            $(this).select();
        });