extends layout

block content
    div.container
        h1 Create new App
        p Please enter the details, to start the app creation.
        form(action='/create/do', method='post', role='form')
            .form-group
                label(for='name') Name*
                input.form-control(name='name', placeholder='Enter name', required)
            .form-group
                label(for='port') Web server port*
                .input-group
                    .input-group-addon :
                    input.form-control(name='port', value=port, type='number', min=80, max=65535, placeholder='Enter port', required)
            .form-group
                button.btn-lg.btn.btn-default(type='submit') Submit
        p 
            small * Required
