// Favicons Generated with favicon.il.ly and iconverticons.com
link(rel='icon', type='image/png', href='/images/favicon-32.png')
link(rel='icon', type='image/gif', sizes='16x16 32x32 48x48 64x64', href='/favicon.ico')
// Optional: Android & iPhone
link(rel='apple-touch-icon-precomposed', href='/images/favicon-152.png')
// Optional: IE10 Tile.
meta(name='msapplication-TileColor', content='#FFFFFF')
meta(name='msapplication-TileImage', content='/images/favicon-144.png')
// Optional: ipads, androids, iphones, ...
link(rel='apple-touch-icon-precomposed', sizes='152x152', href='/images/favicon-152.png')
link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/images/favicon-144.png')
link(rel='apple-touch-icon-precomposed', sizes='120x120', href='/images/favicon-120.png')
link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/images/favicon-114.png')
link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/images/favicon-72.png')
link(rel='apple-touch-icon-precomposed', href='/images/favicon-57.png')