doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        include favicon.jade
        
        title= title
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
        link(rel='stylesheet', type='text/css', href='/libs/bootstrap/dist/css/bootstrap.min.css')

        script(type="text/javascript", src='/libs/jquery/dist/jquery.min.js')
        script(type="text/javascript", src='/libs/bootstrap/dist/js/bootstrap.min.js')
        script(type="text/javascript", src='/javascripts/app.js', defer=true)
    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') Every1Builder
                #myNavbar.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/create') Create new App
                        li
                            a(href='/list') Show existing Apps
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='http://www.kollerat.com') (C) Christian Koller
        block content
