extends layout

block content
    div.container
        h1 Existing Apps
        ul#sortable.list-group
            each app in Applist
                li.list-group-item
                    h4
                        = app.doc.name
                        span.label.label-primary(style='float:right;')=app.pathName
                    .form-group
                        .input-group
                            span.input-group-btn(title='Open on server')
                                button.btn.btn-default.app-open-dir(autocomplete='off', data-opening-text="Opening...", data-path-name=app.pathName) 
                                    span.glyphicon.glyphicon-folder-open
                            input.form-control.on-focus-select(readonly, value=app.folderPath)
                    .btn-group
                            a.btn.btn-default.active(href='/modify/'+app.pathName, role='button') 
                                span.glyphicon.glyphicon-pencil
                                | Modify app
                            a.btn.btn-primary.active(href='/prepare/'+app.pathName, role='button') 
                                span.glyphicon.glyphicon-refresh
                                | Prepare app
                            a.btn.btn-primary.active(href='/build/'+app.pathName, role='button') 
                                span.glyphicon.glyphicon-export
                                | Build app
                            a.btn.btn-info.external(href='http://localhost:'+app.doc.port, onclick='window.open(this.href); return false;', role='button') 
                                span.glyphicon.glyphicon-play
                                | Open app URL
    script.
        $("input.on-focus-select").focus(function() {
            $(this).select();
        });