extends layout

block content
    div.container
        h1= 'Modify app "'+app.doc.name+'"'
            span.label.label-primary(style='float:right;')=title=app.pathName
        p Please enter the details, to modify the app.
        form(action='/modify/do', method='post', role='form')
            input(type="hidden" name="pathName" value=app.pathName)
            .panel.panel-success
                .panel-heading
                    h3.panel-title Application
                .panel-body
                    .form-group
                        label(for='name') Name*
                        input.form-control(name='name', value=app.doc.name, placeholder='Enter name', required)
                    .form-group
                        label(for='port') Web server port*
                        .input-group
                            .input-group-addon :
                            input.form-control(name='port', value=app.doc.port, type='number', min=80, max=65535, placeholder='Enter port', required)
                    .form-group
                        label(for='numlocal') Number locale*
                        select.form-control(name='numlocal', required)
                            each numlocal in numlocals
                                option(value=numlocal.title, selected=numlocal.title===app.doc.numlocal, class=numlocal.class)= numlocal.title
                    .form-group
                        label(for='datelocal') Date locale*
                        select.form-control(name='datelocal', required)
                            each datelocal in datelocals
                                option(value=datelocal.title, selected=datelocal.title===app.doc.datelocal, class=datelocal.class)= datelocal.title
            .panel.panel-info
                .panel-heading
                    h3.panel-title Database
                .panel-body
                    .form-group
                        label(for='dbtype') Type*
                        select.form-control(name='dbtype', required)
                            each dbtype in dbtypes
                                option(title=dbtype.infotitle, value=dbtype.value, selected=dbtype.value===app.doc.dbtype, class=dbtype.class)= dbtype.title
                    .form-group
                        .col-md-12
                            label(for='dbdatabase') Database*
                            input.input-sm.form-control(name='dbdatabase', value=app.doc.dbdatabase, placeholder='Enter database name', required)
                    .form-group
                        .col-md-8
                            label(for='dbhost') Host
                            input.input-sm.form-control(name='dbhost', value=app.doc.dbhost, placeholder='Enter database host')
                        .col-md-4
                            label(for='dbport') Port
                            .input-group
                                .input-group-addon :
                                input.input-sm.form-control(name='dbport', value=app.doc.dbport, type='number', min=1, max=65535, placeholder='Enter database port')
                    .form-group
                        .col-md-6
                            label(for='dbusername') Username
                            input.input-sm.form-control(name='dbusername', value=app.doc.dbusername, placeholder='Enter database username')
                        .col-md-6
                            label(for='dbpassword') Password
                            input.input-sm.form-control(name='dbpassword', value=app.doc.dbpassword, type='password', placeholder='Enter database password')
            .form-group
                button.btn-lg.btn.btn-default(type='submit') Submit
        p 
            small * Required
