extends layout

block content
    div.container
        h1= 'Preparing app "'+app.doc.name+'"'
            span.label.label-primary(style='float:right;')=title=app.pathName
        h3 Steps
        pre
            ul
                for step in steps
                    li!= step

        h4 Forms - Client
        pre
            ul
                each rows in app.forms
                    li
                        | Name: 
                        = rows.name
                        span.label.label-success(style='margin-left: 10px;')=title=rows.pathName
        
        h4 Forms - Data model
        pre
            ul
                each rows in app.forms_models
                    li
                        | Name: 
                        = rows.name
                        span.label.label-success(style='margin-left: 10px;')=title=rows.pathName

        h4 Menus
        pre
            ul
                each rows in app.menus
                    li
                        | Name: 
                        = rows.name
                        span.label.label-success(style='margin-left: 10px;')=title=rows.pathName

        h4 Menus pages
        pre
            ul
                each rows in app.menus_routes
                    li
                        | Name: 
                        = rows.name
                        span.label.label-success(style='margin-left: 10px;')=title=rows.pathName

