extends layout

block content
    div.container
        h1= message
        h2= error.status
        if error.stack
            pre.alert.alert-danger #{error.stack}
        if error.validation
            .panel.panel-default
                .panel-body
                    for validation in error.validation
                        pre.alert.alert-warning= validation.msg
