extends layout

block table_views
    include table_views

block content
    div.container
        div
            h1= title
            
            button#data-table-add.btn.btn-primary(type='button', data-toggle='modal', data-target='#edit-modal')
                span.btn-space.glyphicon.glyphicon-plus
                | Add
            
            table#data-table.table.table-striped.table-hover
                thead
                    tr
                        th
                        each field in fields
                            th= field.name

    #edit-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='edit-modal-label')
        .modal-dialog(role='document')
            form#edit-modal-form(action='/modify/do', method='post', role='form').modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#edit-modal-label.modal-title= title
                #edit-modal-form-fields.modal-body
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') 
                        span.btn-space.glyphicon.glyphicon-remove
                        | Close
                    button#edit-modal-save.btn.btn-primary(type='submit') 
                        span.btn-space.glyphicon.glyphicon-ok
                        | Save

    script
        | var form_fields = 
        !=JSON.stringify(fields)
        |;
        | var form_valids = 
        !=JSON.stringify(valids)
        |;
        | var form_defaults = 
        !=JSON.stringify(browser_defaults)
        |;
    script
        include form_index.js
