//Input view - Input with gridcols/size control
script(type="text/html", id="input-input-size")
    label(class!='<%=Backform.controlLabelClassName%>') <%-label%>
    div(class!='col-sm-<%=gridcols%>')
        |<input type="<%=type%>" class="<%=Backform.controlClassName%> <%=extraClasses.join(' ')%>" name="<%=name%>" maxlength="<%=maxlength%>" value="<%-value%>" placeholder="<%-placeholder%>" <%=disabled ? "disabled" : ""%> <%=required ? "required" : ""%> />
        |<% if (helpMessage.length) { %>
        span(class!='<%=Backform.helpMessageClassName%>')
        |<% } %>    
//Input view - Input with double input control for date/time
script(type="text/html", id="input-input-date")
    label(class!='<%=Backform.controlLabelClassName%>') <%-label%>
    div(class!='col-sm-<%=gridcols1%>')
        .input-group.date.val1
            |<input type="text" class="<%=Backform.controlClassName%> <%=extraClasses1.join(' ')%>" name="<%=name%>__1" maxlength="<%=maxlength1%>" value="<%-value ? value.split(' ').shift() : ''%>" placeholder="<%-placeholder1%>" <%=disabled ? "disabled" : ""%> <%=required ? "required" : ""%> />
            span.input-group-addon
                span.glyphicon.glyphicon-calendar
    div(class!='col-sm-<%=gridcols2%>')
        |<input type="time" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" class="<%=Backform.controlClassName%> <%=extraClasses2.join(' ')%> val2" name="<%=name%>__2" maxlength="<%=maxlength2%>" value="<%-value ? value.split(' ').pop() : ''%>" placeholder="<%-placeholder2%>" <%=disabled ? "disabled" : ""%> <%=required ? "required" : ""%> />
