doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        
        title= titleMain+' - '+title
        link(rel='stylesheet', type='text/css', href='/stylesheets/bower.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
        
        script
            !='var number_delimiters = '+JSON.stringify(numbro.cultureData().delimiters)+';'
            !='var datelocal = "'+datelocal+'";'
        script(type="text/javascript", src='/javascripts/bower.min.js')
        script
            | $(document).ready(function () {
            !='moment.locale("'+datelocal+'");'
            | });
        script(type="text/javascript", src='/javascripts/locale/'+datelocal+'.js')
        script(type="text/javascript", src='/javascripts/app.js')
        block table_views
        include input_views
        if pageScript
            script(type="text/javascript", src='/javascripts/'+pageScript+'.js', defer=true)
    body&attributes(pageScript ? {onload:"call_user_func('on_load', this)"} : {})
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/')= titleMain
                #myNavbar.collapse.navbar-collapse
                    ul.nav.navbar-nav
{{#links}}
                        li
                            a(href='/{{dbname}}') {{name}}
{{/links}}
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='http://www.kollerat.com') (C) Christian Koller
        block content
