extends layout

block content
    div.container
        div.login-template
            h1 Login
            p Please enter your details, to login
            if error
                pre.alert.alert-warning
                    span.glyphicon.glyphicon-exclamation-sign.btn-space
                    = error
            form(action='/global/login', method='post', role='form')
                input(type="hidden" name="requireType" value=requireType)
                .form-group.col-md-6
                    label(for='name') Name
                    input.form-control(name='name', placeholder='Enter name', required)
                .form-group.col-md-6
                    label(for='password') Password
                    input.form-control(name='password', type='password', placeholder='Enter password', required)
                .form-group.col-md-12
                    button.btn-lg.btn.btn-default(type='submit') Submit
