//Table view - Edit button
script(type="text/html", id="table-view-button")
    .btn-group
        button.btn.btn-default.btn-xs(type='button', data-toggle='modal', data-target='#edit-modal')
            span(title!="Edit <%= plain %>").glyphicon.glyphicon-pencil
        button.btn.btn-danger.btn-xs.edit-delete(type='button')
            span(title!="Delete <%= plain %>").glyphicon.glyphicon-remove

//Table view - Boolean true
script(type="text/html", id="table-view-boolean-true")
    span.glyphicon.glyphicon-ok.text-success
        span.hide
            1

//Table view - Boolean false
script(type="text/html", id="table-view-boolean-false")
    span.glyphicon.glyphicon-minus.text-warning
        span.hide
            0

//Table view - Simple text
script(type="text/html", id="table-view-text").
    <%- edit %>

//Table view - Long text
script(type="text/html", id="table-view-textlong")
    span.tooltipitem(title!="<%- edit %>")
        | <%- displayshort %>
        span.btn-spaceleft.small.glyphicon.glyphicon-eye-open.text-info
