body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.starter-template h1 {
    font-size: 70px;
}

.btn-space {
    margin-right: 5px;
}
.btn-spaceleft {
    margin-left: 5px;
}

.tooltip-inner {
    white-space: pre-wrap;
    min-width: 100px;
}

/* table.dataTable CSS overwrite */
/* Ignore defaults */
table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
  padding-right: inherit;
}
table.dataTable thead .sorting:after {
  content: "";
}
table.dataTable thead .sorting_asc:after {
  content: "";
}
table.dataTable thead .sorting_desc:after {
  content: "";
}

/* New values */
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
  position: absolute;
  bottom: 8px;
  left: 0;
  display: block;
  font-family: 'Glyphicons Halflings';
  opacity: 0.5;
}
table.dataTable thead .sorting:before {
  opacity: 0.2;
  content: "\e150";
  /* sort */
}
table.dataTable thead .sorting_asc:before {
  content: "\e155";
  /* sort-by-attributes */
}
table.dataTable thead .sorting_desc:before {
  content: "\e156";
  /* sort-by-attributes-alt */
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
  padding-left: 22px;
}